<% layout('/layouts/boilerplate') %>
<h3 class="heading">Login</h3>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <form action="/admin/login" method="POST" class="needs-validation" novalidate>
      <div >
        <label for="username" class="form-label"><b>Enter the username</b> </label>
        <input
          name="username"
          type="username"
          placeholder=" Enter username"
          id="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">You must fill it.</div>
      </div>
      <div >
        <label for="password" class="form-label"><b>Enter the password</b> </label>
        <input
          name="password"
          type="password"
          placeholder=" Enter passowrd"
          id="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">You must fill it.</div>
      </div>
      <button class="btn btn-success mt-2">Login</button>
    </form>
  </div>
</div>
<script src="/js/formValidation.js"></script>