<% layout('/layouts/boilerplate') %>
<h3 class="heading">Signup</h3>
<div class="row">
  <div class="col-8 offset-2">
    <form method="POST" action="/admin/signup" class="needs-validation" novalidate>
      <div >
        <label for="shopName" class="form-label"><b>Enter Your Shop Name</b> </label>
        <input
          name="shopName"
          type="text"
          placeholder="Shop Name"
          id="shopName"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">You must fill it.</div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="username" class="form-label"><b>Enter the username</b> </label>
            <input
            name="username"
              type="text"
              placeholder="username"
              id="username"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">You must fill it.</div>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label"><b>Enter the email</b> </label>
            <input
              name="email"
              type="email"
              placeholder=" Enter email"
              id="email"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">You must fill it.</div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <label for="mobileNo" class="form-label"><b>Enter the Mobile No.</b> </label>
            <input
              name="mobileNo"
              type="text"
              placeholder="Enter Mobile Number"
              id="mobileNo"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">You must fill it.</div>
          </div>

          <div class="col-md-6">
            <label for="password" class="form-label"><b>Enter the password </b> </label>
            <input
              name="password"
              type="password"
              placeholder="Enter yourpassword"
              id="password"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">You must fill it.</div>
          </div>
      </div>


      <button class="btn btn-dark mt-3">Sign up</button>
    </form>
  </div>
</div>
<script src="/js/formValidation.js"></script>
