<% layout('/layouts/boilerplate') %>
<div class="page-not-found-conatiner">
    <div class="page-not-found">
        <h1>404</h1>
        <p>Oops! The page you're looking for doesn't exist.</p>
        <a href="/" class="btn  PageNotFound-btn">Back to Home</a>
    </div>
</div>

