<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3 mt-1" role="alert">
        <h5><%= msg %></h5>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
</div>
