<% layout('/layouts/boilerplate') %>
<h3 class="heading">Add a new Books</h3>
<div class="row">
  <div class="col-8 offset-2">
    <form method="POST" action="/items" class="needs-validation" novalidate>
      <div class="row">
        <div class="mb-3 col-md-7">
          <label for="item" class="form-label"
            ><b>Enter the book name</b>
          </label>
          <input
            name="items[item]"
            type="text"
            placeholder="Book Name"
            id="item"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">You must fill before adding.</div>
        </div>
        <div class="mb-3 col-md-5">
          <label for="price" class="form-label"
            ><b>Enter the price of the book</b></label
          >
          <input
            name="items[price]"
            type="number"
            placeholder="Book price"
            id="price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">You must set a price !</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">
          <b>Enter the Description about the book</b></label
        >
        <input
          name="items[description]"
          type="text"
          placeholder="Book description"
          id="description"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">You must describe about book.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">
          <b>Enter the author name of  the book</b></label
        >
        <input
          name="items[author]"
          type="text"
          placeholder="Book Author Name"
          id="author"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">You must add the Book author name.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"
          ><b>Enter the book Image Link </b></label
        >
        <input
          name="items[image]"
          type="text"
          placeholder="Book image"
          id="image"
          class="form-control"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-dark mb-3">Add</button>
    </form>
  </div>
</div>
<script src="/js/formValidation.js"></script>
