.page-not-found-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* Full screen height */
  padding: 1rem;
  box-sizing: border-box;
  background-image: url(https://i.pinimg.com/originals/3a/ba/4d/3aba4d59548142a7bb380e103f0abe02.png);
  background-size: cover;
}
.empty-cart {
  text-align: center;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  max-width: 90%;
  width: 400px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Full screen height */
  padding: 1rem;
  box-sizing: border-box;
}

.page-not-found {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(135deg, rgba(255, 254, 255, 0.177));
  border: 2px solid yellow;
  border-radius: 8px;
  max-width: 90%;
  width: 400px;
}
.page-not-found h1 {
  font-size: 80px;
  background: linear-gradient(135deg, #ffd700, #f90971);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-not-found p {
  font-size: 24px;
  color: #ffd700;
  font-weight: 600;
}
.PageNotFound-btn {
  background: linear-gradient(135deg, #ffd700, #f90971);
  color: black;
  font-weight: 600;
  border: 2px solid #000000;
}
.PageNotFound-btn:hover {
  background: linear-gradient(135deg, #ffd700, #f90971);
  color: black;
  font-weight: 600;
  border: 2px solid #000000;
}
